

.popularMainDiv{
    width: 25%;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.popularImgContainer{
    width: 100%;
    height: 60%;
}

.popularImgContainer img{
    width: 100%;
    /* height: 100%; */
}

.popularTextContentContainer{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: white;
    padding: 1rem 1.5rem;
}

.popularCharacterDescription{
    width: 100%;
    height: auto;
}

.popularCharacterDescription p{
    font-size: 0.8rem;
    color: rgb(66, 66, 66);
}